@import "theme";

@import "~normalize.css/normalize";
@import "~materialize-css/sass/materialize";
@import "icon-tabs";
@import "pixel_m_plus";

.connect-icon {
  @extend .material-icons;
  @extend .medium;

  color: #ffffff;
  margin: 0 10px;
}

blockquote {
  margin-start: 0px;
  margin-end: 0px;
}
