.sf-activity {
  .twitter-tweet {
    margin: 0 !important;
  }
  blockquote {
    background-color: white;
    border-radius: 4px;
    padding: 20px 20px 11.6px;
  }

  &__year-section {
    margin-bottom: 30px;

    &--label {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 50px;
      color: whitesmoke;
      text-shadow: 1px 1px 0 #000;
    }
  }

  &__info {
    &--content {
      @extend .mdc-typography--body1;
      padding: 20px 20px 11.6px;
    }

    &--media-activity_2018_1 {
      @extend .mdc-card__media;
      @extend .mdc-card__media--16-9;

      background-image: url("../assets/image/activity_2018_1.png")
    }
  }
}
