@import "~materialize-css/sass/components/color-variables";

// Theme color
// @see materialize-css/sass/components/variables
$primary-color: color("orange", "darken-2");
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: color("pink", "accent-2");
$success-color: color("green", "base");
$error-color: color("red", "base");
$link-color: color("light-blue", "darken-1");
