footer.page-footer
  .container
    .row
      div.col.l6.s12
        h5.white-text そこんところ工房
        p.grey-text.text-lighten-4 Something around me.

  .footer-copyright
    .container
      .right ©2015-2017 そこんところ工房