include _string

block vars
  - var lang = "ja"
  - var page_file_name = "activity";
  - var page_name = "アクティビティ";

include include/_navbar

doctype html
html(lang=`${lang}`)
  head
    include include/_head
    link(rel="stylesheet" href=`/css/activity.css`)
  body
    header
      +navbar

    main
      div.container

        include include/_activity-list

    footer
      include include/_footer

    script(src=`/js/activity.js`)
    script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
