div.mdc-layout-grid.sf-activity
  div.sf-activity__year-section
    div.sf-activity__year-section--label 2018
    div.mdc-layout-grid__inner

      div.mdc-layout-grid__cell--span-4
        <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">🍊Happy Birthday ちかっち！🍊<br><br>ちかっちのお誕生日をお祝いするために、動画を久しぶりにUPしました！<br>高画質・高音質、フルバージョンはURLからどうぞ🍊<br><br>おめでとおぉぉ＼＼\\└(&#39;ω&#39;)」//／／ぉぉぉおおお<br><br>nico: <a href="https://t.co/VYtF6dIgdl">https://t.co/VYtF6dIgdl</a><br>youtube: <a href="https://t.co/n4weZ7fSR0">https://t.co/n4weZ7fSR0</a><br> <a href="https://twitter.com/hashtag/%E9%AB%98%E6%B5%B7%E5%8D%83%E6%AD%8C%E7%94%9F%E8%AA%95%E7%A5%AD2018?src=hash&amp;ref_src=twsrc%5Etfw">#高海千歌生誕祭2018</a> <a href="https://t.co/4lycaTAj0E">pic.twitter.com/4lycaTAj0E</a></p>&mdash; T28_tatsuya (@T28_tatsuya) <a href="https://twitter.com/T28_tatsuya/status/1024665733215571968?ref_src=twsrc%5Etfw">2018年8月1日</a></blockquote>

      div.mdc-layout-grid__cell--span-4
        <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">アプリ更新しました（・８・） <br><br>【かぷちゅうプレイヤー】 <br>ソロライブをカップリング再生できる音楽プレイヤーが、複数の曲を選択出来るようになりました！<br>&quot;りんぱな&quot;なあなたも！&quot;のぞえり&quot;なあなたも！お好きにどうぞ！<a href="https://t.co/UvBXpuXGoo">https://t.co/UvBXpuXGoo</a> <a href="https://twitter.com/hashtag/%E3%81%8B%E3%81%B7%E3%81%A1%E3%82%85%E3%81%86%E3%83%97%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC?src=hash&amp;ref_src=twsrc%5Etfw">#かぷちゅうプレイヤー</a> <a href="https://twitter.com/hashtag/%E3%81%9D%E3%81%93%E3%82%93%E3%81%A8%E3%81%93%E3%82%8D%E5%B7%A5%E6%88%BF?src=hash&amp;ref_src=twsrc%5Etfw">#そこんところ工房</a> <a href="https://t.co/ODNfrEsviU">pic.twitter.com/ODNfrEsviU</a></p>&mdash; T28_tatsuya (@T28_tatsuya) <a href="https://twitter.com/T28_tatsuya/status/1008703246343393281?ref_src=twsrc%5Etfw">2018年6月18日</a></blockquote>

      div.mdc-layout-grid__cell--span-4
        <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">ゲーム更新しました（・８・） <br><br>【おいものみきり！ver1.2】 <br>まるのおいもをタップで守る、おいものみきり！に、ついに「オンライン二人対戦モード」が追加！<br>お芋のように熱く、お芋を奪い合おう！<a href="https://t.co/oZJAMgNY2w">https://t.co/oZJAMgNY2w</a>   <a href="https://twitter.com/hashtag/%E3%81%8A%E3%81%84%E3%82%82%E3%81%AE%E3%81%BF%E3%81%8D%E3%82%8A?src=hash&amp;ref_src=twsrc%5Etfw">#おいものみきり</a> <a href="https://twitter.com/hashtag/%E3%81%9D%E3%81%93%E3%82%93%E3%81%A8%E3%81%93%E3%82%8D%E5%B7%A5%E6%88%BF?src=hash&amp;ref_src=twsrc%5Etfw">#そこんところ工房</a> <a href="https://t.co/u2HY5cLmEe">pic.twitter.com/u2HY5cLmEe</a></p>&mdash; T28_tatsuya (@T28_tatsuya) <a href="https://twitter.com/T28_tatsuya/status/993006401726201856?ref_src=twsrc%5Etfw">2018年5月6日</a></blockquote>

      div.mdc-layout-grid__cell--span-4
        <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">アプリ作りました（・８・） <br><br>【かぷちゅうプレイヤー】 <br>ついに手に入れたソロライブ！で&quot;ことほの&quot;をするために、同時再生するだけの音楽プレイヤーを作りました！<br>&quot;りんぱな&quot;なあなたも!&quot;のぞえり&quot;なあなたも!お好きにどうぞ!!<a href="https://t.co/UvBXpuXGoo">https://t.co/UvBXpuXGoo</a> <a href="https://twitter.com/hashtag/%E3%81%8B%E3%81%B7%E3%81%A1%E3%82%85%E3%81%86%E3%83%97%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC?src=hash&amp;ref_src=twsrc%5Etfw">#かぷちゅうプレイヤー</a> <a href="https://twitter.com/hashtag/%E3%81%9D%E3%81%93%E3%82%93%E3%81%A8%E3%81%93%E3%82%8D%E5%B7%A5%E6%88%BF?src=hash&amp;ref_src=twsrc%5Etfw">#そこんところ工房</a> <a href="https://t.co/h2VEJyciD1">pic.twitter.com/h2VEJyciD1</a></p>&mdash; T28_tatsuya (@T28_tatsuya) <a href="https://twitter.com/T28_tatsuya/status/988791141423181824?ref_src=twsrc%5Etfw">2018年4月24日</a></blockquote>

      div.mdc-layout-grid__cell--span-4
        <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">ゲーム作りました <br><br>【ポプテクラッシュ】 <br><br>もうすぐアニメ放送なことをこっそりお祝いして、ゥァア゛ーッするクソアプリを作りましたゥァア゛ーッ<a href="https://t.co/IxhblDPVap">https://t.co/IxhblDPVap</a><br><br> <a href="https://twitter.com/hashtag/%E3%83%9D%E3%83%97%E3%83%86%E3%83%94%E3%83%94%E3%83%83%E3%82%AF?src=hash&amp;ref_src=twsrc%5Etfw">#ポプテピピック</a> <a href="https://twitter.com/hashtag/%E3%83%9D%E3%83%97%E3%83%86%E3%82%AF%E3%83%A9%E3%83%83%E3%82%B7%E3%83%A5?src=hash&amp;ref_src=twsrc%5Etfw">#ポプテクラッシュ</a> <a href="https://twitter.com/hashtag/%E3%81%9D%E3%81%93%E3%82%93%E3%81%A8%E3%81%93%E3%82%8D%E5%B7%A5%E6%88%BF?src=hash&amp;ref_src=twsrc%5Etfw">#そこんところ工房</a> <a href="https://t.co/5IGul9RZ4Q">pic.twitter.com/5IGul9RZ4Q</a></p>&mdash; T28_tatsuya (@T28_tatsuya) <a href="https://twitter.com/T28_tatsuya/status/949670084368199682?ref_src=twsrc%5Etfw">2018年1月6日</a></blockquote>

      div.mdc-layout-grid__cell--span-4
        div.mdc-card
          div.sf-activity__info--media-activity_2018_1
          div.sf-activity__info--content #{activity_content_2018_1}

  div.sf-activity__year-section
    div.sf-activity__year-section--label 2017
    div.mdc-layout-grid__inner
      div.mdc-layout-grid__cell--span-4
        <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">ゲーム更新しました（・８・） <br><br>【おいものみきり！ver1.1】 <br>まるのおいもをタップで守る、おいものみきり！がバージョンアップ！<br>・二人対戦モード追加！まる vs ルビィ！<a href="https://t.co/B9v1oFbCsE">https://t.co/B9v1oFbCsE</a>  <a href="https://twitter.com/hashtag/%E3%81%8A%E3%81%84%E3%82%82%E3%81%AE%E3%81%BF%E3%81%8D%E3%82%8A?src=hash&amp;ref_src=twsrc%5Etfw">#おいものみきり</a> <a href="https://twitter.com/hashtag/%E3%81%9D%E3%81%93%E3%82%93%E3%81%A8%E3%81%93%E3%82%8D%E5%B7%A5%E6%88%BF?src=hash&amp;ref_src=twsrc%5Etfw">#そこんところ工房</a> <a href="https://t.co/VMDwbegKxE">pic.twitter.com/VMDwbegKxE</a></p>&mdash; T28_tatsuya (@T28_tatsuya) <a href="https://twitter.com/T28_tatsuya/status/942223442375405568?ref_src=twsrc%5Etfw">2017年12月17日</a></blockquote>

      div.mdc-layout-grid__cell--span-4
        <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">ゲーム作りました（・８・） <br><br>【おいものみきり！】<br>まるの&quot;おいも&quot;を狙って、次々と敵が襲いかかる！合図が出たら素早くタップして、おいもを守ろう！<a href="https://t.co/B9v1oFbCsE">https://t.co/B9v1oFbCsE</a> <a href="https://twitter.com/hashtag/%E3%81%8A%E3%81%84%E3%82%82%E3%81%AE%E3%81%BF%E3%81%8D%E3%82%8A?src=hash&amp;ref_src=twsrc%5Etfw">#おいものみきり</a> <a href="https://twitter.com/hashtag/%E3%81%9D%E3%81%93%E3%82%93%E3%81%A8%E3%81%93%E3%82%8D%E5%B7%A5%E6%88%BF?src=hash&amp;ref_src=twsrc%5Etfw">#そこんところ工房</a> <a href="https://t.co/gJb5cvWSaq">pic.twitter.com/gJb5cvWSaq</a></p>&mdash; T28_tatsuya (@T28_tatsuya) <a href="https://twitter.com/T28_tatsuya/status/936604248359317509?ref_src=twsrc%5Etfw">2017年12月1日</a></blockquote>

      div.mdc-layout-grid__cell--span-4
        <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">ゲーム作りました（・８・） <br><br>【やみどり！】<br>ことりちゃんの&quot;あの&quot;お鍋を阻止するゲームです！<br>画面の左右から出てくることりちゃんをタップして、ケーキを取り上げよう！<a href="https://t.co/s4y3D8eUPa">https://t.co/s4y3D8eUPa</a>   <a href="https://twitter.com/hashtag/%E3%82%84%E3%81%BF%E3%81%A9%E3%82%8A?src=hash&amp;ref_src=twsrc%5Etfw">#やみどり</a> <a href="https://twitter.com/hashtag/%E3%81%9D%E3%81%93%E3%82%93%E3%81%A8%E3%81%93%E3%82%8D%E5%B7%A5%E6%88%BF?src=hash&amp;ref_src=twsrc%5Etfw">#そこんところ工房</a> <a href="https://twitter.com/hashtag/%E5%8D%97%E3%81%93%E3%81%A8%E3%82%8A%E7%94%9F%E8%AA%95%E7%A5%AD2017?src=hash&amp;ref_src=twsrc%5Etfw">#南ことり生誕祭2017</a> <a href="https://t.co/acLwHfxXfB">pic.twitter.com/acLwHfxXfB</a></p>&mdash; T28_tatsuya (@T28_tatsuya) <a href="https://twitter.com/T28_tatsuya/status/907272500442103808?ref_src=twsrc%5Etfw">2017年9月11日</a></blockquote>

      div.mdc-layout-grid__cell--span-4
        <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">AqoursClubファンクラブに入ってページも可愛くて満足！だけれど、ネイティブアプリが欲しいなぁとか、更新通知が欲しいなぁ…と思ったので自分用に似非アプリを作った(・8・) <a href="https://t.co/PTKQ8ZBmy1">pic.twitter.com/PTKQ8ZBmy1</a></p>&mdash; T28_tatsuya (@T28_tatsuya) <a href="https://twitter.com/T28_tatsuya/status/891313320191344641?ref_src=twsrc%5Etfw">2017年7月29日</a></blockquote>

  div.sf-activity__year-section
    div.sf-activity__year-section--label 2016
    div.mdc-layout-grid__inner
      div.mdc-layout-grid__cell--span-4
        <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">ゲーム更新しました（・８・） <br><br>【まるてん！ver1.1】 <br>堕天(させる)ゲー、まるてん！に&quot;ようりこ&quot;が参戦してバージョンアップ！<br>しいたけを投げてリコちゃんを堕天させよう！<a href="https://t.co/Jqh2QOR9yz">https://t.co/Jqh2QOR9yz</a>  <a href="https://twitter.com/hashtag/%E3%81%BE%E3%82%8B%E3%81%A6%E3%82%93?src=hash&amp;ref_src=twsrc%5Etfw">#まるてん</a>！ <a href="https://twitter.com/hashtag/%E3%81%9D%E3%81%93%E3%82%93%E3%81%A8%E3%81%93%E3%82%8D%E5%B7%A5%E6%88%BF?src=hash&amp;ref_src=twsrc%5Etfw">#そこんところ工房</a> <a href="https://t.co/eDyG5JXGJr">pic.twitter.com/eDyG5JXGJr</a></p>&mdash; T28_tatsuya (@T28_tatsuya) <a href="https://twitter.com/T28_tatsuya/status/795234538771222528?ref_src=twsrc%5Etfw">2016年11月6日</a></blockquote>

      div.mdc-layout-grid__cell--span-4
        <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">ゲーム作りました（・８・） <br><br>【まるてん！】 <br>はなまるがよしこを堕天させるゲームです！<br>画面をスライドさせてよしこに黒い羽を当てよう！<a href="https://t.co/Jqh2QOR9yz">https://t.co/Jqh2QOR9yz</a> <a href="https://twitter.com/hashtag/%E3%81%BE%E3%82%8B%E3%81%A6%E3%82%93?src=hash&amp;ref_src=twsrc%5Etfw">#まるてん</a>！ <a href="https://t.co/Apr2J4OYkX">pic.twitter.com/Apr2J4OYkX</a></p>&mdash; T28_tatsuya (@T28_tatsuya) <a href="https://twitter.com/T28_tatsuya/status/777317868497084416?ref_src=twsrc%5Etfw">2016年9月18日</a></blockquote>

      div.mdc-layout-grid__cell--span-4
        <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">ゲーム作りました（・８・） <br><br>【しゃかりん！】 <br>マラカスを持った凛ちゃんをひたすらシャカシャカさせるゲームです！<br>オンラインランキング導入！(ほのCar!も)<a href="https://t.co/RlHhON09k3">https://t.co/RlHhON09k3</a><a href="https://twitter.com/hashtag/%E3%81%97%E3%82%83%E3%81%8B%E3%82%8A%E3%82%93?src=hash&amp;ref_src=twsrc%5Etfw">#しゃかりん</a>！ <a href="https://t.co/yBknhak5pU">pic.twitter.com/yBknhak5pU</a></p>&mdash; T28_tatsuya (@T28_tatsuya) <a href="https://twitter.com/T28_tatsuya/status/682766322913034240?ref_src=twsrc%5Etfw">2016年1月1日</a></blockquote>

  div.sf-activity__year-section
    div.sf-activity__year-section--label 2015
    div.mdc-layout-grid__inner
      div.mdc-layout-grid__cell--span-4
        <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">ゲーム更新しました（・８・） <br><br>【ほのCar！ver1.1】 <br>車ひたすら避けゲー、ほのCar!がバージョンアップ！<br>・エリチカ参戦！<br>・キーボード操作対応！<br>・バグ修正<a href="http://t.co/3Off3X5CHj">http://t.co/3Off3X5CHj</a>  <a href="https://twitter.com/hashtag/%E3%81%BB%E3%81%AECar?src=hash&amp;ref_src=twsrc%5Etfw">#ほのCar</a> <a href="http://t.co/WC4NFsACUq">pic.twitter.com/WC4NFsACUq</a></p>&mdash; T28_tatsuya (@T28_tatsuya) <a href="https://twitter.com/T28_tatsuya/status/620242364922118145?ref_src=twsrc%5Etfw">2015年7月12日</a></blockquote>

      div.mdc-layout-grid__cell--span-4
        <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">ゲーム作りました（・８・） <br><br>【ほのCar！】 <br>ススメ→トゥモロウをバックにホノカチャンがひたすら車を避けるゲームです！ <a href="http://t.co/3Off3X5CHj">http://t.co/3Off3X5CHj</a> <a href="https://twitter.com/hashtag/%E3%81%BB%E3%81%AECar?src=hash&amp;ref_src=twsrc%5Etfw">#ほのCar</a>! <a href="http://t.co/Rws9ztdza3">pic.twitter.com/Rws9ztdza3</a></p>&mdash; T28_tatsuya (@T28_tatsuya) <a href="https://twitter.com/T28_tatsuya/status/618714789531914240?ref_src=twsrc%5Etfw">2015年7月8日</a></blockquote>
