div.sf-footer
  div.sf-footer__content
    div.sf-footer__brand--title
      a(href=`${hosting_origin}`).sf-footer__brand そこんところ工房 Website
    div.sf-footer__brand--subtitle Something around me.

    div.sf-footer__connect-icons
      ul
        li
          a(href=`${contact_url}`).sf-footer__connect-icons--icon
            i.fa.fa-envelope.sf-footer__connect-icon
        li
          a(href="https://twitter.com/T28_tatsuya" target="_blank").sf-footer__connect-icons--icon
            i.fa.fa-twitter.connect-icon.sf-footer__connect-icon
        li
          a(href="https://github.com/TatsuyaYamamoto/" target="_blank").sf-footer__connect-icons--icon
            i.fa.fa-github.connect-icon.sf-footer__connect-icon

div.sf-copyright
  div.sf-copyright__content
    | © 2014-
    script(type="text/javascript") document.write(new Date().getFullYear());
    | Sokontokoro Factory, All rights reserved.

    a(href="https://github.com/TatsuyaYamamoto/www") Currently v#{version}
