div.sf-footer
  div.sf-footer__content
    a(href=`${hosting_origin}`).sf-footer__brand
      div.sf-footer__brand--title そこんところ工房
      div.sf-footer__brand--subtitle Something around me.
    div.sf-footer__connect-icons
      ul
        li
          a(href="mailto:sokontokoro.factory@gmail.com").sf-footer__connect-icons--icon
            i.fa.fa-envelope.sf-footer__connect-icon
        li
          a(href="https://twitter.com/T28_tatsuya" target="_blank").sf-footer__connect-icons--icon
            i.fa.fa-twitter.connect-icon.sf-footer__connect-icon
        li
          a(href="https://github.com/TatsuyaYamamoto/" target="_blank").sf-footer__connect-icons--icon
            i.fa.fa-github.connect-icon.sf-footer__connect-icon