footer.page-footer
  .container
    .row
      div.col.l8.s12
        h5.white-text そこんところ工房
        p.grey-text.text-lighten-4 Something around me.
    div.row.center
      a(href="mailto:sokontokoro.factory@gmail.com")
        i.fa.fa-envelope.connect-icon
      a(href="https://twitter.com/T28_tatsuya" target="_blank")
        i.fa.fa-twitter.connect-icon
      a(href="https://github.com/TatsuyaYamamoto/" target="_blank")
        i.fa.fa-github.connect-icon

  .footer-copyright
    .container
      .right ©2015-2017 そこんところ工房