nav.mdc-drawer.mdc-drawer--permanent.mdc-typography
  div.mdc-drawer__toolbar-spacer
  div.mdc-drawer__content
    nav#icon-with-text-demo.mdc-list
      a.mdc-list-item.mdc-list-item--activated(href="#")
        i.material-icons.mdc-list-item__graphic(aria-hidden="true") inbox
          | Inbox
      a.mdc-list-item(href="#")
        i.material-icons.mdc-list-item__graphic(aria-hidden="true") star
          | Star
div Toolbar and page content go inside here.
