div.mdc-toolbar.mdc-elevation--z2.sf-toolbar

  div.mdc-toolbar__row
    div.mdc-toolbar__section.mdc-toolbar__section--align-end
      a(href=`${TRANSLATE_BASE_PATH}${pageName}.pug`).sf-toolbar__menu-icon
        i.material-icons.mdc-toolbar__menu-icon translate

  div.mdc-toolbar__row
    div.mdc-toolbar__section.sf-toolbar__hero
      a(href=`${BASE_PATH}`).sf-toolbar__hero--title
        span.logo-text #{hero_title}
        img(src="/assets/image/hammer.png").logo-icon

  div.mdc-toolbar__row
    include _tab-menu
