- head_title = "そこんところ工房"

- hero_title = "そこんところ工房"

- tabs_activity  = "アクティビティ"
- tabs_game = "ゲーム"
- tabs_app = "アプリ"

- about_header  = "About"
- about_page_header  = "このページは何？"
- about_page_description  = "T28が(下記)が管理する、趣味垂れ流しのページです。作ったゲームや書いたブログ記事はメニューからどうぞ。"
- about_owner_header  = "あなたはだれ？"
- about_owner_description1  = "こんなの↑ "
- about_owner_description2  = "T28です。プログラミングしたりギター弾いたりします。"
