case `${lang}`
  when "en"
    - site_name = "Sokontokoro Factory"
    - head_description = "T28's website to introduce games, apps, music and so on."

    - hero_title = "Sokontokoro Factory"

    - tabs_home  = "Home"
    - tabs_about  = "About"
    - tabs_activity  = "Activity"
    - tabs_music  = "Music"
    - tabs_game = "Game"
    - tabs_contact  = "Contact"
    - tabs_app = "App"

    - about_header  = "About"
    - about_page_header  = "This page is ..."
    - about_page_description  = "to introduce T28's outputs; games, apps, music and so on!"
    - about_owner_header  = "I'm ..."
    - about_owner_description1  = "like this. "
    - about_owner_description2  = "and T28. I programs, plays guitar, and lovelives."

    - activity_chip_game = "Game"
    - activity_chip_app = "App"
    - activity_chip_lovelive = "LoveLive!"

    - activity_content_2018_1 = "The homepage has been redesigned."

  when "ja"
  default
    - site_name = "そこんところ工房"
    - head_description = "T28が作成したゲームとかアプリとか動画の置き場サイトです。"

    - hero_title = "そこんところ工房"

    - tabs_home  = "ホーム"
    - tabs_about  = "ここは？"
    - tabs_activity  = "アクティビティ"
    - tabs_music = "ミュージック"
    - tabs_game = "ゲーム"
    - tabs_contact  = "お問い合わせ"
    - tabs_app = "アプリ"

    - about_header  = "About"
    - about_page_header  = "このページは何？"
    - about_page_description  = "T28が(下記)が管理する、趣味垂れ流しのページです。作ったゲームや書いたブログ記事はメニューからどうぞ。"
    - about_owner_header  = "あなたはだれ？"
    - about_owner_description1  = "こんなの↑ "
    - about_owner_description2  = "T28です。プログラミングしたりギター弾いたり、ラブライブしたりします。"

    - activity_chip_game = "ゲーム"
    - activity_chip_app = "アプリ"
    - activity_chip_lovelive = "ラブライブ！"

    - activity_content_2018_1 = "ホームページをリニューアルしました。"