- var asset_file_name = "activity";

doctype html
html
  head
    include include/_head
    link(rel="stylesheet" href=`css/${asset_file_name}.css`)
  body
    header
      include include/_toolbar
    main
      div.container

        div.row.section
          h3 2017
          div.col.s12.m6
            div.card.hoverable.
              <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">ゲーム更新しました（・８・） <br><br>【おいものみきり！ver1.1】 <br>まるのおいもをタップで守る、おいものみきり！がバージョンアップ！<br>・二人対戦モード追加！まる vs ルビィ！<a href="https://t.co/B9v1oFbCsE">https://t.co/B9v1oFbCsE</a>  <a href="https://twitter.com/hashtag/%E3%81%8A%E3%81%84%E3%82%82%E3%81%AE%E3%81%BF%E3%81%8D%E3%82%8A?src=hash&amp;ref_src=twsrc%5Etfw">#おいものみきり</a> <a href="https://twitter.com/hashtag/%E3%81%9D%E3%81%93%E3%82%93%E3%81%A8%E3%81%93%E3%82%8D%E5%B7%A5%E6%88%BF?src=hash&amp;ref_src=twsrc%5Etfw">#そこんところ工房</a> <a href="https://t.co/VMDwbegKxE">pic.twitter.com/VMDwbegKxE</a></p>&mdash; T28_tatsuya (@T28_tatsuya) <a href="https://twitter.com/T28_tatsuya/status/942223442375405568?ref_src=twsrc%5Etfw">2017年12月17日</a></blockquote>

          div.col.s12.m6
            div.card.hoverable.
            <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">ゲーム作りました（・８・） <br><br>【おいものみきり！】<br>まるの&quot;おいも&quot;を狙って、次々と敵が襲いかかる！合図が出たら素早くタップして、おいもを守ろう！<a href="https://t.co/B9v1oFbCsE">https://t.co/B9v1oFbCsE</a> <a href="https://twitter.com/hashtag/%E3%81%8A%E3%81%84%E3%82%82%E3%81%AE%E3%81%BF%E3%81%8D%E3%82%8A?src=hash&amp;ref_src=twsrc%5Etfw">#おいものみきり</a> <a href="https://twitter.com/hashtag/%E3%81%9D%E3%81%93%E3%82%93%E3%81%A8%E3%81%93%E3%82%8D%E5%B7%A5%E6%88%BF?src=hash&amp;ref_src=twsrc%5Etfw">#そこんところ工房</a> <a href="https://t.co/gJb5cvWSaq">pic.twitter.com/gJb5cvWSaq</a></p>&mdash; T28_tatsuya (@T28_tatsuya) <a href="https://twitter.com/T28_tatsuya/status/936604248359317509?ref_src=twsrc%5Etfw">2017年12月1日</a></blockquote>

          div.col.s12.m6
            div.card.hoverable.
              <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">ゲーム作りました（・８・） <br><br>【やみどり！】<br>ことりちゃんの&quot;あの&quot;お鍋を阻止するゲームです！<br>画面の左右から出てくることりちゃんをタップして、ケーキを取り上げよう！<a href="https://t.co/s4y3D8eUPa">https://t.co/s4y3D8eUPa</a>   <a href="https://twitter.com/hashtag/%E3%82%84%E3%81%BF%E3%81%A9%E3%82%8A?src=hash&amp;ref_src=twsrc%5Etfw">#やみどり</a> <a href="https://twitter.com/hashtag/%E3%81%9D%E3%81%93%E3%82%93%E3%81%A8%E3%81%93%E3%82%8D%E5%B7%A5%E6%88%BF?src=hash&amp;ref_src=twsrc%5Etfw">#そこんところ工房</a> <a href="https://twitter.com/hashtag/%E5%8D%97%E3%81%93%E3%81%A8%E3%82%8A%E7%94%9F%E8%AA%95%E7%A5%AD2017?src=hash&amp;ref_src=twsrc%5Etfw">#南ことり生誕祭2017</a> <a href="https://t.co/acLwHfxXfB">pic.twitter.com/acLwHfxXfB</a></p>&mdash; T28_tatsuya (@T28_tatsuya) <a href="https://twitter.com/T28_tatsuya/status/907272500442103808?ref_src=twsrc%5Etfw">2017年9月11日</a></blockquote>

        div.row.section
          h3 2016

          div.col.s12.m6
            div.card.hoverable.
              <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">ゲーム更新しました（・８・） <br><br>【まるてん！ver1.1】 <br>堕天(させる)ゲー、まるてん！に&quot;ようりこ&quot;が参戦してバージョンアップ！<br>しいたけを投げてリコちゃんを堕天させよう！<a href="https://t.co/Jqh2QOR9yz">https://t.co/Jqh2QOR9yz</a>  <a href="https://twitter.com/hashtag/%E3%81%BE%E3%82%8B%E3%81%A6%E3%82%93?src=hash&amp;ref_src=twsrc%5Etfw">#まるてん</a>！ <a href="https://twitter.com/hashtag/%E3%81%9D%E3%81%93%E3%82%93%E3%81%A8%E3%81%93%E3%82%8D%E5%B7%A5%E6%88%BF?src=hash&amp;ref_src=twsrc%5Etfw">#そこんところ工房</a> <a href="https://t.co/eDyG5JXGJr">pic.twitter.com/eDyG5JXGJr</a></p>&mdash; T28_tatsuya (@T28_tatsuya) <a href="https://twitter.com/T28_tatsuya/status/795234538771222528?ref_src=twsrc%5Etfw">2016年11月6日</a></blockquote>

          div.col.s12.m6
            div.card.hoverable.
              <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">ゲーム作りました（・８・） <br><br>【まるてん！】 <br>はなまるがよしこを堕天させるゲームです！<br>画面をスライドさせてよしこに黒い羽を当てよう！<a href="https://t.co/Jqh2QOR9yz">https://t.co/Jqh2QOR9yz</a> <a href="https://twitter.com/hashtag/%E3%81%BE%E3%82%8B%E3%81%A6%E3%82%93?src=hash&amp;ref_src=twsrc%5Etfw">#まるてん</a>！ <a href="https://t.co/Apr2J4OYkX">pic.twitter.com/Apr2J4OYkX</a></p>&mdash; T28_tatsuya (@T28_tatsuya) <a href="https://twitter.com/T28_tatsuya/status/777317868497084416?ref_src=twsrc%5Etfw">2016年9月18日</a></blockquote>

          div.col.s12.m6
            div.card.hoverable.
              <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">ゲーム作りました（・８・） <br><br>【しゃかりん！】 <br>マラカスを持った凛ちゃんをひたすらシャカシャカさせるゲームです！<br>オンラインランキング導入！(ほのCar!も)<a href="https://t.co/RlHhON09k3">https://t.co/RlHhON09k3</a><a href="https://twitter.com/hashtag/%E3%81%97%E3%82%83%E3%81%8B%E3%82%8A%E3%82%93?src=hash&amp;ref_src=twsrc%5Etfw">#しゃかりん</a>！ <a href="https://t.co/yBknhak5pU">pic.twitter.com/yBknhak5pU</a></p>&mdash; T28_tatsuya (@T28_tatsuya) <a href="https://twitter.com/T28_tatsuya/status/682766322913034240?ref_src=twsrc%5Etfw">2016年1月1日</a></blockquote>

        div.row.section
          h3 2015

          div.col.s12.m6
            div.card.hoverable.
              <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">ゲーム更新しました（・８・） <br><br>【ほのCar！ver1.1】 <br>車ひたすら避けゲー、ほのCar!がバージョンアップ！<br>・エリチカ参戦！<br>・キーボード操作対応！<br>・バグ修正<a href="http://t.co/3Off3X5CHj">http://t.co/3Off3X5CHj</a>  <a href="https://twitter.com/hashtag/%E3%81%BB%E3%81%AECar?src=hash&amp;ref_src=twsrc%5Etfw">#ほのCar</a> <a href="http://t.co/WC4NFsACUq">pic.twitter.com/WC4NFsACUq</a></p>&mdash; T28_tatsuya (@T28_tatsuya) <a href="https://twitter.com/T28_tatsuya/status/620242364922118145?ref_src=twsrc%5Etfw">2015年7月12日</a></blockquote>

          div.col.s12.m6
            div.card.hoverable.
              <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">ゲーム作りました（・８・） <br><br>【ほのCar！】 <br>ススメ→トゥモロウをバックにホノカチャンがひたすら車を避けるゲームです！ <a href="http://t.co/3Off3X5CHj">http://t.co/3Off3X5CHj</a> <a href="https://twitter.com/hashtag/%E3%81%BB%E3%81%AECar?src=hash&amp;ref_src=twsrc%5Etfw">#ほのCar</a>! <a href="http://t.co/Rws9ztdza3">pic.twitter.com/Rws9ztdza3</a></p>&mdash; T28_tatsuya (@T28_tatsuya) <a href="https://twitter.com/T28_tatsuya/status/618714789531914240?ref_src=twsrc%5Etfw">2015年7月8日</a></blockquote>


    footer
      include include/_footer

    script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
