include _string

block vars
  - var lang = "ja"
  - var page_file_name = "activity";
  - var page_name = "アクティビティ";

include components/_navbar

doctype html
html(lang=`${lang}`)
  head
    include components/_head
    link(rel="stylesheet" href=`/assets/css/activity.css`)
  body
    header
      +navbar

    main
      div.container

        include components/activity/_activity-list

    footer
      include components/_footer

    script(src=`/assets/js/activity.js`)
    script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
