include _string

block vars
  - var lang = "ja"
  - var pageName = "activity"

doctype html
html(lang=`${lang}`)
  head
    include components/_head

    link(rel="stylesheet" href=`/assets/css/activity.scss`)
    script(src=`/assets/js/activity.js`)
    script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")

  body

    header
      include components/_toolbar

    main
      include components/_activity-list

    footer
      include components/_footer

