- var asset_file_name = "game";

doctype html
html
  head
    include include/_head
    link(rel="stylesheet" href=`css/${asset_file_name}.css`)
  body
    header
      include include/_toolbar

    main
      p.section
        | In progress... Please see 
        a(href="/activity.html") activity

    script(src=`js/${asset_file_name}.js`)
