- var fileName = "game";

doctype html
html
  head
    include components/_head
  body
    header

    main
      p.section
        | In progress... Please see 
        a(href="/activity.html") activity

    include components/_script
