- var asset_file_name = "index";

doctype html
html
  head
    include include/_head
    link(rel="stylesheet" href=`css/${asset_file_name}.css`)
  body
    header
      include include/_toolbar
        
    main
      include include/_promotion_cards

      include include/_about

    footer
      include include/_footer

    script(src=`js/${asset_file_name}.js`)
