include _string
include _config

block vars
  - var lang = "ja"
  - var pageName = "index"

doctype html
html(lang=`${lang}`)
  head
    include components/_head

    block dependency
      link(rel="stylesheet" href=`./assets/css/index.scss`)
      script(src=`./assets/js/index.js`)

  body.mdc-typography

    header
      include components/_toolbar-with-hero

    main

      section.sf-blank

      include components/_about

      section.sf-blank

    footer
      include components/_footer
