include _string
include _config

block vars
  - var lang = "ja"
  - var pageName = "index"

doctype html
html(lang=`${lang}`)
  head
    include components/_head
  body.mdc-typography

    header
      include components/_toolbar-with-hero

    main

      section.sf-blank

      include components/_about

      section.sf-blank

    footer
      include components/_footer
