include _string

block vars
  - var lang = "ja"
  - var pageName = "music"

doctype html
html(lang=`${lang}`)
  head
    include components/_head
  body.mdc-typography

    header
      include components/_toolbar

    main
      include components/_music-list

    footer
      include components/_footer
