include _string

block vars
  - var lang = "ja"
  - var pageName = "music"

doctype html
html(lang=`${lang}`)
  head
    include components/_head

    block dependency
      link(rel="stylesheet" href=`./assets/css/music.scss`)
      script(src=`./assets/js/music.js`)

  body.mdc-typography

    header
      include components/_toolbar

    main
      include components/_music-list

    footer
      include components/_footer
