include _string

block vars
  - var lang = "ja"
  - var pageName = "music"

doctype html
html(lang=`${lang}`)
  head
    include components/_head
  body

    header
      include components/_toolbar

    main
      p.section
      br
      br
      | ページ工事中....
      br
      br
      p.section
        <iframe width="624" height="176" src="https://ext.nicovideo.jp/thumb_mylist/38643388" scrolling="no" style="border:solid 1px #CCC;" frameborder="0"><a href="http://www.nicovideo.jp/mylist/38643388">【ニコニコ動画】</a></iframe>
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
    footer
      include components/_footer
