div.container
  div.row

    div.col.s12.m8

      div.hoverable.card
        div.card-image
          img(src="http://next.materializecss.com/images/sample-1.jpg")
          span.card-title Card Title

        div.card-content
          p.
            I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.

    div.col.s12.m4

      div.hoverable.card
        div.card-image
          img(src="http://next.materializecss.com/images/sample-1.jpg")
          span.card-title Card Title

        div.card-content
          p.
            I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.

    div.col.s12.m6

      div.hoverable.card
        div.card-image
          img(src="http://next.materializecss.com/images/sample-1.jpg")
          span.card-title Card Title

        div.card-content
          p.
            I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.

    div.col.s12.m6

      div.hoverable.card
        div.card-image
          img(src="http://next.materializecss.com/images/sample-1.jpg")
          span.card-title Card Title

        div.card-content
          p.
            I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.
