mixin toolbar
  header.mdc-toolbar.mdc-toolbar--fixed

    div.mdc-toolbar__row

      section.mdc-toolbar__section.mdc-toolbar__section--align-start

        a(href="#").material-icons.mdc-toolbar__menu-icon menu
        span.mdc-toolbar__title Title

  main.mdc-toolbar-fixed-adjust
    p.demo-paragraph A demo paragraph here.
