include ../_string

nav.nav-extended
  div.nav-wrapper
    ul.right
      li:a(href="#")
        i.material-icons translate

  div.nav-content.container
    div.section.hero.center-align.logo
      a(href="/") #{hero_title}
        img(src="assets/image/hammer.png")

    ul.tabs.tabs-transparent.tabs-icon
      li.tab
        a(href="#about")
          i.material-icons.tab-icon portrait
          span.tab-label #{tabs_about}
      li.tab
        a(href="./activity.html")
          i.material-icons.tab-icon timeline
          span.tab-label #{tabs_activity}
      li.tab
        a(href="./game.html")
          i.material-icons.tab-icon games
          span.tab-label #{tabs_game}
